body {
    color: red;
    background-color: darkslategrey;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(48,92,69,1) 100%);
}
.topbar a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.headings {
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    font-family: Dubai;
    padding: 20px;
    color: palegoldenrod;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#grammy
{
    height:25%;
    width:25%;
}
.paragraph
{
    text-align:center;
    width:100%;
    font-size:24px;
    font-family:Dubai;
    padding:8px;
    color:palegoldenrod;
}
