body {
    color: red;
    background-color: rgb(0,212,255);
    background: rgba(10,222,255);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.topbar a {
    list-style-type: none;
    text-align: center;
    color: gold;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: rgb(100,232,255);
}
.topbar a {
    display: block;
    float: left;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.topbar a:hover {
    background-color: #555;
    color: white;
}
.topbar #active {
    background-color: black;
    color: white;
}
.headings {
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    font-family: Dubai;
    padding: 20px;
    color: gold;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#pic
{
    height:25%;
    width:25%;
}
.paragraph
{
    text-align:center;
    width:100%;
    font-size:24px;
    font-family:Dubai;
    padding:8px;
    color:gold;
}
