body {
    color: red;
    background-color: darkslategrey;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(48,92,69,1) 100%);
}
.topbar a {
    list-style-type: none;
    text-align: center;
    color: palegoldenrod;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkslategrey;
}
.topbar a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.topbar a:hover {
    background-color: #555;
    color: white;
}
.topbar #active {
    background-color: black;
    color: white;
}
.headings {
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    font-family: Dubai;
    padding: 20px;
    color: palegoldenrod;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#grammy
{
    height:25%;
    width:25%;
}
.paragraph
{
    text-align:center;
    width:100%;
    font-size:24px;
    font-family:Dubai;
    padding:8px;
    color:palegoldenrod;
}
